@use "../abstracts/functions" as *;
@use "../core/typography" as *;
@use "../core/variables" as *;
@use "../abstracts/mixins" as *;

.btn {
  font: var(--fw-bold) rem(14) / #{1.5} $font-1;
  padding: rem(12.5) rem(16) rem(12.5) rem(16);
  background-color: var(--color-light-sixth);
  border-radius: rem(10);
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: 0.3s;

  &:hover {
    background-color: #60abff;
  }

  @include screen-680 {
    @include font-button;

    padding: rem(12.5) rem(23) rem(13.5) rem(24);
  }
}
