@use "../abstracts/functions" as *;

// VARIABLES CSS
:root {
  // LIGHT MODE COLORS
  --color-light-first: #fefefe;
  --color-light-second: #f6f8ff;
  --color-light-third: #2b3442;
  --color-light-fourth: #4b6a9b;
  --color-light-fifth: #697c9a;
  --color-light-sixth: #0079ff;

  // // DARK MODE COLORS
  // --color-dark-first: #ffffff;
  // --color-dark-second: #141d2f;
  // --color-dark-third: #1e2a47;
  // --color-dark-fourth: #0079ff;

  // title
  --lh-xl: 1.46;
  --lh-l: 1.5;
  --lh-m: 1.5;
  --lh-s: 1.46;
  --lh-search: 1.39;

  // body
  --lh-body-m: 1.67;

  // button
  --lh-button: 1.5;

  // FONT-WEIGHT
  --fw-regular: 400;
  --fw-bold: 700;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* better for people who browse with the keyboard and know where they are on the site, so I set a different style, making it more visible, taking it from the default.
 */

// *:focus-visible {
//   outline: var(--color-light-third) solid 4px;
//   outline-offset: 4px;
// }

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}

img {
  display: block;
}

select {
  border: none;
  background: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-animation-delay: -1ms !important;
    animation-delay: -1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

/**
 * Screen Reader Class
 * 
 * To hide content visually.
 *
 * For more information: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
 */
.sr-only {
  position: absolute !important;
  margin: -1px !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

html {
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--color-light-second);
  line-height: 1.5;
  /* improves text rendering */
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  position: relative;
  // transition: all 0.4s;
  transition: all 0.5s ease-out;
  min-height: 100vh;
}

body.dark-mode {
  :root {
    // DARK MODE COLORS
    --color-dark-first: #ffffff;
    --color-dark-second: #141d2f;
    --color-dark-third: #1e2a47;
    --color-dark-fourth: #0079ff;

    --color-light-first: #1e2a47;
  }

  background: #141d2f;
  transition: all 0.5s ease-out;

  * {
    color: #ffffff !important;
  }

  .header__logo {
    color: #ffffff !important;
  }

  .content__box {
    background: #1e2a47;
    box-shadow: none;
  }

  .content__search {
    background: #1e2a47 !important;
  }

  .search {
    background: #1e2a47 !important;
    color: #fff;
    &::placeholder {
      color: inherit !important;
    }
  }

  svg path {
    fill: #ffffff;
  }

  .content__user {
    color: #0079ff !important;
  }

  .content__list {
    background-color: #141d2f !important;
  }
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     // DARK MODE COLORS
//     --color-dark-first: #ffffff;
//     --color-dark-second: #141d2f;
//     --color-dark-third: #1e2a47;
//     --color-dark-fourth: #0079ff;

//     --color-light-first: #1e2a47;
//   }

//   * {
//     color: var(--color-dark-first) !important;
//   }

//   body {
//     background: var(--color-dark-second);

//     .header__logo,
//     .header__mode-text,
//     .moon path {
//       fill: var(--color-dark-first);
//       color: var(--color-dark-first);
//     }

//     .content__box {
//       box-shadow: none;
//     }

//     .search {
//       background: var(--color-light-first);
//       color: #fff;
//       &::placeholder {
//         color: inherit !important;
//       }
//     }

//     svg path {
//       fill: var(--color-dark-first);
//     }

//     .content__user {
//       color: var(--color-dark-fourth) !important;
//     }

//     .content__list {
//       background-color: var(--color-dark-second) !important;
//     }
//   }
// }
