@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;
@use "../core/typography" as *;
@use "../core/variables" as *;

$color-hover-button-mode: #222731;

.header {
  @include container;
  padding-top: rem(31);
  padding-bottom: rem(35);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: inline-block;
    font: var(--fw-bold) rem(26) / #{1.5} $font-1;
    color: #222731;
  }

  &__mode {
    background: none;
    border: none;
    display: flex;
    gap: rem(16);

    &-text {
      @include font-s;
      text-transform: uppercase;
      font-weight: var(--fw-bold);
      letter-spacing: rem(2.5);
      color: #4b6a9b;
    }
  }
}
