@use "functions" as *;

@mixin container {
  // max-width: rem(327 + 48);
  padding-right: rem(24);
  padding-left: rem(24);
  margin: 0 auto;
}

// RESPOSIVE
@mixin screen-540 {
  @media (min-width: rem(540)) {
    @content;
  }
}
