@use "functions" as *;

@mixin container {
  padding-right: rem(24);
  padding-left: rem(24);

  margin: 0 auto;

  @include screen-680 {
    max-width: rem(730 + 98 + 98);
    padding-right: rem(98);
    padding-left: rem(98);
  }
}

// RESPOSIVE
@mixin screen-680 {
  @media (min-width: rem(680)) {
    @content;
  }
}

@mixin screen-1000 {
  @media (min-width: rem(1000)) {
    @content;
  }
}
