@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
:root {
  --color-light-first: #fefefe;
  --color-light-second: #f6f8ff;
  --color-light-third: #2b3442;
  --color-light-fourth: #4b6a9b;
  --color-light-fifth: #697c9a;
  --color-light-sixth: #0079ff;
  --color-dark-first: #ffffff;
  --color-dark-second: #141d2f;
  --color-dark-third: #1e2a47;
  --color-dark-fourth: #0079ff;
  --lh-xl: 1.46;
  --lh-l: 1.5;
  --lh-m: 1.5;
  --lh-s: 1.46;
  --lh-search: 1.39;
  --lh-body-m: 1.67;
  --lh-button: 1.5;
  --fw-regular: 400;
  --fw-bold: 700;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* better for people who browse with the keyboard and know where they are on the site, so I set a different style, making it more visible, taking it from the default.
 */
*:focus-visible {
  outline: var(--color-darkCyan) solid 4px;
  outline-offset: 4px;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}

img {
  display: block;
}

select {
  border: none;
  background: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-animation-delay: -1ms !important;
    animation-delay: -1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
/**
 * Screen Reader Class
 * 
 * To hide content visually.
 *
 * For more information: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
 */
.sr-only {
  position: absolute !important;
  margin: -1px !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

html {
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--color-light-second);
  line-height: 1.5;
  /* improves text rendering */
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  position: relative;
}

.btn {
  font: var(--fw-bold) 1rem/var(--lh-button) "Space Mono", monospace;
  padding: 0.8125rem 1.4375rem 0.875rem 1.5rem;
  background-color: var(--color-light-sixth);
  border-radius: 0.625rem;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}
.btn:hover {
  background-color: #60abff;
}

body {
  max-width: 50.625rem;
  padding: 0rem 2.5rem 0rem 2.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2.25rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  font: var(--fw-bold) 1.75rem/var(--lh-xl) "Space Mono", monospace;
  color: var(--color-light-third);
}
.header__mode {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__mode-text {
  font: var(--fw-regular) 0.8125rem/var(--lh-s) "Space Mono", monospace;
  letter-spacing: 0.15625rem;
  color: var(--color-light-fifth);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}
.header__mode-text,
.header__mode svg path {
  transition: 0.2s ease-in-out;
}
.header__mode:hover .header__mode-text,
.header__mode:hover svg path {
  fill: #222731;
  color: #222731;
}

.content {
  max-width: 100%;
}
.content__search {
  display: grid;
  margin-bottom: 1.5rem;
}
.content__search span {
  width: max-content;
  z-index: 1;
  grid-area: 1/-1;
  align-self: center;
  padding: 1.4375rem 1.5rem 1.4375rem 2rem;
}
.content__search .search {
  font: var(--fw-regular) 1.125rem/var(--lh-search) "Space Mono", monospace;
  grid-area: 1/-1;
  max-width: 100%;
  padding: 1.375rem 8.75rem 1.375rem 5rem;
  border-radius: 0.9375rem;
  border: none;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}
.content__search .search::placeholder {
  font: var(--fw-regular) 1.125rem/var(--lh-search) "Space Mono", monospace;
  color: var(--color-light-fourth);
}
.content__search .button__box {
  grid-area: 1/-1;
  justify-self: end;
  padding: 0.59375rem 0.625rem 0.59375rem 1.5rem;
}
.content__box {
  padding: 3rem;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  background-color: var(--color-light-first);
  border-radius: 0.9375rem;
}
.content__box .content__info {
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
}
.content__box .content__info .content__photo {
  width: 7.3125rem;
  height: 7.3125rem;
  grid-row: span 3;
  margin-right: 2.3125rem;
  border-radius: 100%;
}
.content__box .content__info .content__photo img {
  border-radius: 100%;
  width: 7.3125rem;
  height: 7.3125rem;
}
.content__box .content__info .content__bio {
  grid-column: span 2;
  margin-bottom: 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr max-content;
}
.content__box .content__info .content__bio .content__name {
  font: var(--fw-bold) 1.75rem/var(--lh-xl) "Space Mono", monospace;
  color: var(--color-light-third);
}
.content__box .content__info .content__bio .content__user {
  font: var(--fw-regular) 1rem/var(--lh-m) "Space Mono", monospace;
  grid-column: 1;
  color: var(--color-light-sixth);
}
.content__box .content__info .content__bio .content__date {
  font: var(--fw-regular) 0.9375rem/var(--lh-s) "Space Mono", monospace;
  grid-row: 1;
  grid-column: 2;
  justify-self: end;
  color: var(--color-light-fifth);
}
.content__box .content__info .content__bio .content__biography {
  font: var(--fw-regular) 0.9375rem/var(--lh-body-m) "Space Mono", monospace;
  opacity: 0.75;
  grid-row: 3;
  grid-column: 1;
  padding-top: 1.25rem;
}
.content__box .content__info .content__desc {
  width: 100%;
  grid-column: span 2;
}
.content__box .content__info .content__desc .content__list {
  display: flex;
  justify-content: space-between;
  padding: 0.9375rem 5.1875rem 1.0625rem 2rem;
  border-radius: 0.9375rem;
  background-color: var(--color-light-second);
  margin-bottom: 2.3125rem;
}
.content__box .content__info .content__desc .content__list li span {
  font: var(--fw-regular) 0.8125rem/var(--lh-s) "Space Mono", monospace;
  display: grid;
  justify-items: start;
  row-gap: 0.0625rem;
  color: var(--color-light-fourth);
}
.content__box .content__info .content__desc .content__list li span span {
  font: var(--fw-bold) 1.375rem/var(--lh-l) "Space Mono", monospace;
  color: var(--color-light-third);
}
.content__box .content__info .content__details {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 1.125rem;
  column-gap: 65px;
}
.content__box .content__info .content__details-item {
  font: var(--fw-regular) 0.9375rem/var(--lh-s) "Space Mono", monospace;
  color: var(--color-light-fourth);
  display: grid;
  align-items: center;
  grid-template-columns: max-content auto;
  align-items: center;
}
.content__box .content__info .content__details-item a {
  color: var(--color-light-fourth);
  word-wrap: anywhere;
}
.content__box .content__info .content__details-item:nth-child(even) {
  gap: 1rem;
}
.content__box .content__info .content__details-item:nth-child(1) {
  gap: 1.1875rem;
}
.content__box .content__info .content__details-item:nth-child(2) {
  opacity: 0.5;
}
.content__box .content__info .content__details-item:nth-child(3) {
  gap: 0.8125rem;
  word-break: break-all;
}

/*# sourceMappingURL=style.css.map */
